.cart {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: #333; /* Asegura que el texto sea visible */
  max-height: 400px; /* Limita la altura máxima del carrito */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es demasiado grande */
}

.cartItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.itemDetails {
  display: flex;
  align-items: center;
}

.itemImage {
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
  margin-right: 10px;
}

.details {
  display: flex;
  flex-direction: column;
}

.quantityControl {
  display: flex;
  align-items: center;
  margin-top: 5px;

  button {
    background-color: #ddd;
    border: none;
    padding: 5px;
    cursor: pointer;
  }

  span {
    margin: 0 10px;
  }
}

.deleteButton {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.cartTotal {
  margin-top: 10px;
  font-weight: bold;
}

button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}