.cart {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cartItem {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.itemDetails {
  display: flex;
  align-items: center;
}

.itemDetails img {
  width: 75px;
  height: 75px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
}

.quantityControl {
  display: flex;
  align-items: center;
}

.quantityControl button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantityControl button:hover {
  background-color: #0056b3;
}

.cartTotal {
  text-align: right;
  margin-top: 20px;
}

.cartTotal h3 {
  font-size: 24px;
}

.deleteButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.deleteButton:hover {
  background-color: #c82333;
}