.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;

  img {
    max-height: 40px;
  }
}

.navLinks {
  display: flex;
  gap: 20px;
}

.cartIcon {
  display: flex;
  align-items: center;
  position: relative;

  img {
    max-height: 30px;
  }
}

.cartCount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
}

/* Media queries para hacer el navbar responsive */
@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navLinks {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .cartIcon {
    order: -1; /* Mueve el cartIcon al principio */
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  .navLinks {
    a {
      font-size: 1em;
    }
  }

  .cartIcon {
    .cartCount {
      padding: 3px 7px;
      font-size: 10px;
    }
  }
}

/* Eliminar bordes de todos los elementos */
* {
  border: none;
}