@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

   img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.productDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin-bottom: 22px;

  .carouselSlides {
    display: flex;
    overflow: hidden;
    position: relative;
    transition: transform 0.5s ease-in-out; /* Transición suave */
  }
  
  .carouselSlide {
    flex: 0 0 100%; /* Cada imagen ocupa el 100% del ancho del carrusel */
    display: flex;
    justify-content: center;
  
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .carouselThumbnails {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;

    li {
      list-style: none;
      cursor: pointer;
      border: 2px solid transparent;
      transition: border 0.3s, transform 0.2s;

      &.selected {
        border: 2px solid blue;
        transform: scale(1.1); /* Efecto de zoom en la miniatura seleccionada */
      }

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px; /* Bordes redondeados */
      }
    }
  }

  .carouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 1.5em;
    z-index: 10;
    border-radius: 50%; /* Botones redondeados */
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.prev {
      left: 10px;
    }

    &.next {
      right: 10px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

/* Media queries para responsividad */
@media (max-width: 768px) {
  .carousel {
    max-width: 100%;
  }

  .carouselThumbnails {
    gap: 5px;

    li img {
      width: 40px;
      height: 40px;
    }
  }

  .carouselButton {
    width: 30px;
    height: 30px;
    font-size: 1.2em;
  }
}